.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
}

.logo-web {
color: var(--link-color);
}
 
.logo-studio-header {
color: #000000;
}
  
.header-logo {
margin-right: 93px;
}
  
.logo-studio-footer {
color: #ffffff;
}